.img-fluid{
    height: 400px;
    width: 350px;
}

.card{
    box-shadow: 3px 3px 6px rgb(47, 45, 45);
    border:none;
    background-color: rgb(85, 83, 83);

}
 
.col-md-8::after{
    content:"";
    opacity:0.2;
    background: none;
}
.card:hover{
    filter: sepia(60%);
    transition-duration: 0.8s;
  
}

@media(max-width:765){
    .img-fluid{
        margin-top: 5px;
    }
}

@media(max-width:490){
    .row{
        margin-top: 5px;
    }
  
}
@media(max-width:460){
    .card-body{
        padding-bottom:10px;
    }
  
}
@media(max-width:440){
    .card-body{
        margin-top:50px;
    }
  
}