
body{
  background-image:url(./assets/sunnyday.jpg);
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: 70%;
  margin: 0 auto;
  padding:0%;
 
}
h1{
  display:flex;
  justify-content: center;
}
.App{
  text-align: center;
}
.input-group{
  width: 40%;
  margin-top: 40px;
}