
body{
  background-image:url(https://images.pexels.com/photos/366283/tianjin-twilight-city-scenery-366283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: 70%;
  margin: 0 auto;
  padding:0%;
  background-image: linear-gradient(rgba0,0,0,0.2 );
 
}


.App{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  
}
.input-group{
  width: 65%;
  margin-top: 40px;
}
.card{
  max-width: 65%;
 
}
.card-title{
  position: absolute;
  padding:20px;
}
.card-date{
  position: absolute;
  padding-left:20px;
  margin-top: 60px;
}
.card-temp{
  position: absolute;
  padding-left:20px;
  margin-top: 230px;
  font-size: 50px;
}
.card-desc{
  position: absolute;
  padding-left:20px;
  margin-top: 290px;
}
.card-body{
  height: 170px;
}